body {
  background-color: azure;
}

.container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  width: fit-content;
  text-align: center;
  margin: 10px;
}

img {
  border-radius: 10px;
}

.showItem {
  text-align: center;
}
