<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a Moment</title>
  </head>
  <body>
    <button><a href="/">Back</a></button>
    <h1>Add a Moment</h1>
    <form action="" method="POST">
      Username:
      <select name="userID">
        <option value="<%= currentUser._id %>"
          ><%= currentUser.username %></option
        >
      </select>
      <br />
      Upload photo: <input type="file" name="img" /><br />
      Title: <input type="text" name="title" placeholder="Title" /><br />
      Description:
      <textarea
        type="text"
        name="description"
        placeholder="Description"
      ></textarea
      ><br />
      <input type="submit" value="Upload" />
    </form>
  </body>
</html>
