<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index Page</title>
  </head>
  <body>
    <% if (currentUser) { %>
    <form action="/sessions?_method=DELETE" method="POST">
      <input type="submit" value="Log out" />
    </form>
    <h1>Hi, <%= currentUser.username %>!</h1>
    <button><a href="/add">Add a Moment</a></button>
    <% } else { %>
    <nav>
      <button><a href="/sessions/new">Log in</a></button>
      <button><a href="/users/new">Sign up</a></button>
    </nav>
    <h1>Hi, welcome to Moments!</h1>
    <% } %>
  </body>
</html>
