<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index Page</title>
  </head>
  <body>
    <nav>
      <button><a href="/new">Log in</a></button>
      <button><a href="">Sign up</a></button>
    </nav>
    <h1>Hi, Trung!</h1>
  </body>
</html>
